@use '../globals' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: 82px;

  background-color: $color-footer-background;

  color: $color-white;
  font-size: 16px;

  &__text {
    text-align: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: $wrapper-width;
    padding: 0 20px;
    column-gap: 20px;
  }
}
