// General
@use '../globals' as *;

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.header-background {
  display: flex;
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 740px;

  background: $color-header-background $background-image-url center/cover no-repeat;
  background-blend-mode: overlay;
  filter: sepia(30%) brightness(50%);
}

.header-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $wrapper-width;

  height: 740px;
  margin: 0 auto;
  padding-bottom: $numbers-block-shift;

  &__menu-burger {
    display: flex;
    position: absolute;
    top: 30px;
    right: 0;

    width: 50px;
    height: 50px;

    background-image: $menu-image-url;

    cursor: pointer;
  }

  &__logo {
    display: flex;
    position: absolute;
    top: 30px;
    left: 0;
    width: 50px;

    height: 50px;

    background: $logo-image-url center/contain no-repeat;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    max-width: 734px;

    color: $color-white;
    font-size: clamp(32px, calc((64 / 1110) * 100vw), 64px);
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

    &--subtitle {
      margin-top: 35px;

      font-size: clamp(12px, calc((18 / 1110) * 100vw), 18px);
    }
  }
}
