@use '../globals' as *;

.modal-request {
  display: flex;
  position: fixed;
  z-index: 500;
  top: 50%;
  left: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 300px;
  height: 500px;

  padding: 20px;

  transform: translate(-50%, -50%);

  transition: opacity 0.8s ease;

  border-radius: 2px;

  opacity: 0;

  background-color: $color-accent;
  box-shadow: $color-partners-background 5px 5px 55px;

  pointer-events: none;

  &--show {
    opacity: 1;

    pointer-events: auto;
  }

  &__button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: auto;

    column-gap: 30px;
    row-gap: 10px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 50px;
    padding: 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 24px;
  }

  // Cancel transition on first render

  &.notransition {
    transition: none;
  }
}
