@use '../globals' as *;

.modal-menu {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -375px;
  flex-direction: column;
  width: 375px;
  height: 100%;

  transition: right 0.4s ease;

  background-color: $color-menu-background;

  &--show {
    right: 0;
  }

  &__close-button {
    display: flex;
    position: absolute;

    top: 30px;
    right: 53px;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    border: none;

    background-color: $color-accent;

    color: $color-white;

    font-size: 30px;
  }

  &__title {
    display: flex;

    align-self: center;
    height: 50px;
    padding: 30px;


    color: $color-white;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 48px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  &__item {
    margin-bottom: 20px;

    color: $color-white;
    font-size: 36px;
  }

  &__mask {
    position: fixed;
    z-index: 500;
    top: 0;
    width: 100vw;
    height: 100vh;

    transition: opacity 0.8s ease;

    opacity: 0;

    background-color: $color-menu-mask;

    pointer-events: none;

    &--show {
      opacity: 1;

      pointer-events: auto;
    }

    // Cancel transition on first render

    &.notransition {
      transition: none;
    }
  }
}

.body-no-scroll {
  overflow: hidden;
}
