@use '../globals' as *;

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  max-width: $wrapper-width;
  min-height: 300px;
  margin-bottom: -$numbers-block-shift;
  padding: 10px;
  column-gap: 30px;

  background-color: $color-numbers-background;
  translate: 0 (-$numbers-block-shift);

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--top {
      color: $color-accent;
      font-size: 72px;
      font-weight: 500;
    }

    &--middle {
      font-size: 36px;
      font-weight: 500;
    }

    &--bottom {
      color: $color-gray;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
