@use '../globals' as *;

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  padding: 0;

  &__item {
    flex: 1 1 480px;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}
