@use '../globals' as *;

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: $wrapper-width;

  column-gap: 30px;

  &__project {
    display: flex;
    flex-direction: column;
    width: 350px;

    height: 600px;
  }
}

.project-card {
  margin-bottom: 50px;

  &__image {
    width: 350px;
    height: 380px;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 500;

    &::before {
      content: '';

      display: flex;
      width: 55px;

      height: 6px;
      margin-top: 45px;
      margin-bottom: 15px;

      background-color: $color-accent;
    }
  }

  &__text {
    color: $color-gray;
    font-size: 16px;
  }
}
