@use '../globals' as *;

.reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: $wrapper-width;
  column-gap: 30px;
  row-gap: 50px;

  &__card {
    position: relative;

    width: 318px;
    margin-bottom: 30px;
    padding: 30px;

    background-color: $color-reviews-card;

    &--betony {
      position: absolute;

      color: $color-accent;
      font-size: 96px;
      font-weight: 700;
      line-height: 70%;
      text-transform: uppercase;
    }

    &--text {
      margin-top: 50px;

      color: $color-gray;
      font-size: 14px;
    }
  }

  &__title {
    display: flex;
    column-gap: 5px;

    font-size: 21px;

    &--company {
      color: $color-accent;
    }
  }
}
