@use '../globals' as *;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  //width: 100%;
  margin-bottom: 50px;
  padding: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 60px;

    font-size: 36px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
}

.full-width-section {
  display: flex;

  width: 100%;
  margin-bottom: 50px;
  padding: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;

    width: $wrapper-width;
    margin: 0 auto;
    //padding: 20px;

  }

  &--tomato-back {
    background-color: $color-accent;

    color: $color-white;
  }
}
