@use '../globals' as *;

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: $wrapper-width;
  padding: 0 20px;
  gap: 25px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;

    height: 250px;

    background-color: $color-reviews-card;

    font-size: 16px;
    text-transform: uppercase;

    &--text {
      width: 170px;

      text-align: center;
    }

    &::before {
      margin-bottom: 30px;
      @include font-awesome-icon('ï†œ')
    }
  }
}
