// General
$wrapper-width: 1110px;

// Colors
$color-accent: #F7654A;

$color-header-background: rgb(64 65 73 / 90%);
$color-footer-background: #404149;

$color-partners-background: #404149;
$color-numbers-background: #F7F7F7;
$color-reviews-card: #f7f7f7;

$color-gray: #999999;
$color-white: #FFFFFF;
$color-black: #000;

// Images
$background-image-url: url('/src/assets/header/header-background.jpg');
$menu-image-url: url("/src/assets/header/menu-gamburger.svg");
$logo-image-url: url("/src/assets/header/logo.svg");
