/*
 *  Import manager
 *  _globals.scss must be included with @use in every scss file
*/

// General
@use './blocks/page' as *;
@use './blocks/section' as *;

// Blocks
@use './blocks/header' as *;
@use './blocks/numbers' as *;
@use './blocks/projects' as *;
@use './blocks/request' as *;
@use './blocks/services' as *;
@use './blocks/portfolio' as *;
@use './blocks/questions' as *;
@use './blocks/partners' as *;
@use './blocks/reviews' as *;
@use './blocks/contacts' as *;
@use './blocks/footer' as *;
@use './blocks/modal-menu' as *;
@use './blocks/modal-request' as *;
