.wrapper {
  display: flex;
  flex-direction: column;
}

.header-background {
  display: flex;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 740px;

  background: $color-header-background $background-image-url center/cover no-repeat;
  background-blend-mode: overlay;
  filter: sepia(30%) brightness(50%);
}

.header-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $wrapper-width;

  height: 740px;
  margin: 0 auto;
  padding-bottom: 150px;

  &__menu-burger {
    display: flex;
    position: absolute;
    top: 30px;
    right: 0;
    width: 50px;

    height: 50px;

    background-image: $menu-image-url;

    cursor: pointer;
  }

  &__logo {
    display: flex;
    position: absolute;
    top: 30px;
    left: 0;
    width: 50px;

    height: 50px;

    background: $logo-image-url center/contain no-repeat;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 734px;

    color: $color-white;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

    &--subtitle {
      margin-top: 35px;

      font-size: 18px;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  &__title {
    margin-bottom: 60px;

    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__block {
    display: flex;
    flex-direction: column;

    width: $wrapper-width;
  }
}

.full-width-section {
  display: flex;

  width: 100%;
  margin-bottom: 50px;

  &__wrapper {
    display: flex;
    flex-direction: column;

    width: $wrapper-width;
    margin: 0 auto;
  }

  &--tomato-back {
    background-color: $color-accent;

    color: $color-white;
  }
}

.numbers {
  display: flex;
  position: relative;
  top: -150px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  height: 300px;
  margin-bottom: -100px;
  padding: 57px;

  background-color: $color-numbers-background;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--top {
      color: $color-accent;
      font-size: 72px;
      font-weight: 500;
    }

    &--middle {
      font-size: 36px;
      font-weight: 500;
    }

    &--bottom {
      color: $color-gray;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  padding: 0 10px;
  column-gap: 30px;

  &__project {
    display: flex;
    flex-direction: column;
    width: 350px;

    height: 600px;
  }
}

.project-card {

  &__image {
    width: 350px;
    height: 380px;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 500;

    &::before {
      content: '';

      display: flex;
      width: 55px;

      height: 6px;
      margin-top: 45px;
      margin-bottom: 15px;

      background-color: $color-accent;
    }
  }

  &__text {
    color: $color-gray;
    font-size: 16px;
  }
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: $wrapper-width;
  padding: 0 20px;
  gap: 25px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;

    height: 250px;

    background-color: $color-reviews-card;

    font-size: 16px;
    text-transform: uppercase;

    &--text {
      width: 170px;

      text-align: center;
    }

    &::before {
      margin-bottom: 30px;
      @include font-awesome-icon('')
    }
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  &__item {
    flex: 1 1 480px;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
  }

}

.questions {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: $wrapper-width;
  padding: 10px;
  row-gap: 25px;

  &__question {

    &:before {
      content: "";

      position: absolute;
    }

    &--title {
      color: $color-accent;
      font-size: 24px;
      text-transform: uppercase;
    }

    &--text {
      color: $color-gray;
      font-size: 16px;
    }
  }
}

.partners {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 364px;

  background-color: $color-partners-background;

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 10px;
    column-gap: 50px;
    row-gap: 30px;
  }

  &__title {
    display: flex;

    align-self: center;
    margin-bottom: 60px;

    color: $color-white;
    font-size: 36px;
    text-transform: uppercase;
    justify-self: center;
  }
}

.reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 10px;
  column-gap: 30px;
  row-gap: 50px;

  &__card {
    position: relative;

    width: 318px;
    margin-bottom: 30px;
    padding: 30px;

    background-color: $color-reviews-card;

    &--betony {
      position: absolute;

      color: $color-accent;
      font-size: 96px;
      font-weight: 700;
      line-height: 70%;
      text-transform: uppercase;
    }

    &--text {
      margin-top: 50px;

      color: $color-gray;
      font-size: 14px;
    }
  }

  &__title {
    display: flex;
    column-gap: 5px;

    font-size: 21px;

    &--company {
      color: $color-accent;
    }
  }
}

.request {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 180px;
  padding: 0 20px;

  text-transform: uppercase;

  &__title {
    font-size: 48px;
    font-weight: 700;

    &--subtitle {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;

    height: 50px;
    padding: 5px;

    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    &::before {
      content: "";

      margin-right: 10px;

      font-family: 'Font Awesome', serif;
      font-size: 18px;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  column-gap: 30px;

  text-transform: uppercase;

  &__title {
    color: $color-gray;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 75%;

    text-align: center;

    &--mail {
      color: $color-accent;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255px;

    height: 190px;
    padding-top: 10px;
    row-gap: 10px;

    &--address::before {
      @include font-awesome-icon("", $color-accent, 48px);
    }

    &--phone::before {
      @include font-awesome-icon("", $color-accent, 48px);
    }

    &--schedule::before {
      @include font-awesome-icon("", $color-accent, 48px);
    }

    &--mail::before {
      @include font-awesome-icon("", $color-accent, 48px);
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: 82px;

  background-color: $color-footer-background;

  color: $color-white;
  font-size: 16px;

  &__text {
    text-align: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: $wrapper-width;
    padding: 0 20px;
    column-gap: 20px;
  }
}
